<!------------------------------------------------------------------------->
<div class="content-capa">
<!------------------------------------------------------------------------->
      <app-header></app-header>
        <app-home></app-home>
       <app-home2></app-home2>
       <app-jogar></app-jogar>
     <app-premios></app-premios>
  <app-vencedores></app-vencedores>
      <app-agente></app-agente>
   <app-perguntas></app-perguntas>
      <app-footer></app-footer>
<!------------------------------------------------------------------------->
</div>
<!------------------------------------------------------------------------->
