.content-capa {
	width: 100%;
	background-size: 100%;
	background-image: url(/assets/images/Milhoes.jpg);
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 0 0 0 0;
	font-family: seravek;
}