<!------------------------------------------------------------------------------>
<div class="agente-capa" id="agente">
  <!------------------------------------------------------------------------------>
  <div class="agente-titulo">
    <div class="agente-quebra"></div>
  	<img class="agente-fundo" src="./assets/images/Divider_8.svg">
  </div>
  <!------------------------------------------------------------------------------>
  <div class="agente-topo">
    <div class="agente-meio"></div>
    <div class="agente-conteudo">
      <img src="./assets/images/Content_8.svg">
    </div>
  </div>
  <!------------------------------------------------------------------------------>
</div>
<!------------------------------------------------------------------------------>