<!------------------------------------------------------------------------------>
<div class="home2-capa">
  <!------------------------------------------------------------------------------>
  <div class="home2-titulo">
  	<img class="home2-fundo" src="./assets/images/Milhoes.svg">
  </div>
  <!------------------------------------------------------------------------------>
  <div class="home2-topo">
    <div class="home2-conteudo">
      &nbsp;
    </div>
  </div>
  <!------------------------------------------------------------------------------>
</div>
<!------------------------------------------------------------------------------>