<!------------------------------------------------------------------------------>
<div class="perguntas-capa" id="faq">
  <!------------------------------------------------------------------------------>
  <div class="perguntas-titulo">
    <div class="perguntas-quebra"></div>
  	<img class="perguntas-fundo" src="./assets/images/Divider_9.svg">
  </div>
  <!------------------------------------------------------------------------------>
  <div class="perguntas-topo">
    <div class="perguntas-meio"></div>
    <div class="perguntas-conteudo">
      <img src="./assets/images/Content_9.svg">
    </div>
  </div>
  <!------------------------------------------------------------------------------>
</div>
<!------------------------------------------------------------------------------>