<!------------------------------------------------------------------------------>
<div class="jogar-capa" id="jogar">
  <!------------------------------------------------------------------------------>
  <div class="jogar-titulo_1">
    <div class="jogar-quebra_1"></div>
    <img class="jogar-fundo_1" src="./assets/images/Divider_1.svg">
  </div>
  <div class="jogar-topo">
    <div class="jogar-meio_1"></div>
    <div class="jogar-conteudo_1">
      <img src="./assets/images/Content_1.svg">
    </div>
  </div>
  <!------------------------------------------------------------------------------>
  <div class="jogar-titulo_2">
    <div class="jogar-quebra_2"></div>
  	<img class="jogar-fundo_2" src="./assets/images/Divider_2.svg">
  </div>
  <div class="jogar-topo">
    <div class="jogar-meio_2"></div>
    <div class="jogar-conteudo_2">
      <img src="./assets/images/Content_2.svg">
    </div>
  </div>
  <!------------------------------------------------------------------------------>
  <div class="jogar-titulo_3">
    <div class="jogar-quebra_3"></div>
    <img class="jogar-fundo_3" src="./assets/images/Divider_3.svg">
  </div>
  <div class="jogar-topo">
    <div class="jogar-meio_3"></div>
    <div class="jogar-conteudo_3">
      <img src="./assets/images/Content_3.svg">
    </div>
  </div>
  <!------------------------------------------------------------------------------>
  <div class="jogar-titulo_4">
    <div class="jogar-quebra_4"></div>
    <img class="jogar-fundo_4" src="./assets/images/Divider_4.svg">
  </div>
  <div class="jogar-topo">
    <div class="jogar-meio_4"></div>
    <div class="jogar-conteudo_4">
      <img src="./assets/images/Content_4.svg">
    </div>
  </div>
  <!------------------------------------------------------------------------------>
  <div class="jogar-titulo_5">
    <div class="jogar-quebra_5"></div>
    <img class="jogar-fundo_5" src="./assets/images/Divider_5.svg">
  </div>
  <div class="jogar-topo">
    <div class="jogar-meio_5"></div>
    <div class="jogar-conteudo_5">
      <img src="./assets/images/Content_5.svg">
    </div>
  </div>
  <!------------------------------------------------------------------------------>
</div>
<!------------------------------------------------------------------------------>
